@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-82jTJIdu5CZC_font-family: "Inter", sans-serif;
  --mixin-82jTJIdu5CZC_font-size: 16px;
  --mixin-82jTJIdu5CZC_font-weight: 400;
  --mixin-82jTJIdu5CZC_font-style: normal;
  --mixin-82jTJIdu5CZC_color: #535353;
  --mixin-82jTJIdu5CZC_text-align: left;
  --mixin-82jTJIdu5CZC_text-transform: none;
  --mixin-82jTJIdu5CZC_line-height: 1.5;
  --mixin-82jTJIdu5CZC_letter-spacing: normal;
  --mixin-82jTJIdu5CZC_white-space: pre-wrap;
  --mixin-82jTJIdu5CZC_user-select: text;
  --mixin-82jTJIdu5CZC_text-decoration-line: none;
  --mixin-82jTJIdu5CZC_text-overflow: clip;
  --mixin-pSi-2lGxskk9_color: #000000;
  --mixin-pSi-2lGxskk9_font-weight: 700;
  --mixin-pSi-2lGxskk9_font-size: 64px;
  --mixin-pSi-2lGxskk9_line-height: 1;
  --mixin-pSi-2lGxskk9_letter-spacing: -1px;
  --mixin-pSi-2lGxskk9_white-space: pre-wrap;
  --mixin-fP8rl1GOT7El_color: #000000;
  --mixin-fP8rl1GOT7El_font-size: 48px;
  --mixin-fP8rl1GOT7El_font-weight: 700;
  --mixin-fP8rl1GOT7El_letter-spacing: -0.5px;
  --mixin-fP8rl1GOT7El_line-height: 1.1;
  --mixin-fP8rl1GOT7El_white-space: pre-wrap;
  --mixin-lAms1sv8LWHN_color: #0070f3;
  --mixin-lAms1sv8LWHN_white-space: pre-wrap;
  --mixin-Hi9jcB8Uu1Oq_color: #000000;
  --mixin-Hi9jcB8Uu1Oq_font-size: 32px;
  --mixin-Hi9jcB8Uu1Oq_font-weight: 600;
  --mixin-Hi9jcB8Uu1Oq_line-height: 1.2;
  --mixin-Hi9jcB8Uu1Oq_white-space: pre-wrap;
  --mixin-1fXKV5bNKSw7_color: #000000;
  --mixin-1fXKV5bNKSw7_font-size: 24px;
  --mixin-1fXKV5bNKSw7_font-weight: 600;
  --mixin-1fXKV5bNKSw7_line-height: 1.3;
  --mixin-1fXKV5bNKSw7_white-space: pre-wrap;
  --mixin-jkkRoxF3ZzPB_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-jkkRoxF3ZzPB_border-bottom-color: #dddddd;
  --mixin-jkkRoxF3ZzPB_border-bottom-style: solid;
  --mixin-jkkRoxF3ZzPB_border-bottom-width: 1px;
  --mixin-jkkRoxF3ZzPB_border-left-color: #dddddd;
  --mixin-jkkRoxF3ZzPB_border-left-style: solid;
  --mixin-jkkRoxF3ZzPB_border-left-width: 1px;
  --mixin-jkkRoxF3ZzPB_border-right-color: #dddddd;
  --mixin-jkkRoxF3ZzPB_border-right-style: solid;
  --mixin-jkkRoxF3ZzPB_border-right-width: 1px;
  --mixin-jkkRoxF3ZzPB_border-top-color: #dddddd;
  --mixin-jkkRoxF3ZzPB_border-top-style: solid;
  --mixin-jkkRoxF3ZzPB_border-top-width: 1px;
  --mixin-jkkRoxF3ZzPB_border-bottom-left-radius: 3px;
  --mixin-jkkRoxF3ZzPB_border-bottom-right-radius: 3px;
  --mixin-jkkRoxF3ZzPB_border-top-left-radius: 3px;
  --mixin-jkkRoxF3ZzPB_border-top-right-radius: 3px;
  --mixin-jkkRoxF3ZzPB_font-family: "Inconsolata";
  --mixin-jkkRoxF3ZzPB_padding-bottom: 1px;
  --mixin-jkkRoxF3ZzPB_padding-left: 4px;
  --mixin-jkkRoxF3ZzPB_padding-right: 4px;
  --mixin-jkkRoxF3ZzPB_padding-top: 1px;
  --mixin-jkkRoxF3ZzPB_white-space: pre-wrap;
  --mixin-1ONk5j5uh4As_border-left-color: #dddddd;
  --mixin-1ONk5j5uh4As_border-left-style: solid;
  --mixin-1ONk5j5uh4As_border-left-width: 3px;
  --mixin-1ONk5j5uh4As_color: #888888;
  --mixin-1ONk5j5uh4As_padding-left: 10px;
  --mixin-1ONk5j5uh4As_white-space: pre-wrap;
  --mixin-sKGvJSQ0-I1b_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-sKGvJSQ0-I1b_border-bottom-color: #dddddd;
  --mixin-sKGvJSQ0-I1b_border-bottom-style: solid;
  --mixin-sKGvJSQ0-I1b_border-bottom-width: 1px;
  --mixin-sKGvJSQ0-I1b_border-left-color: #dddddd;
  --mixin-sKGvJSQ0-I1b_border-left-style: solid;
  --mixin-sKGvJSQ0-I1b_border-left-width: 1px;
  --mixin-sKGvJSQ0-I1b_border-right-color: #dddddd;
  --mixin-sKGvJSQ0-I1b_border-right-style: solid;
  --mixin-sKGvJSQ0-I1b_border-right-width: 1px;
  --mixin-sKGvJSQ0-I1b_border-top-color: #dddddd;
  --mixin-sKGvJSQ0-I1b_border-top-style: solid;
  --mixin-sKGvJSQ0-I1b_border-top-width: 1px;
  --mixin-sKGvJSQ0-I1b_border-bottom-left-radius: 3px;
  --mixin-sKGvJSQ0-I1b_border-bottom-right-radius: 3px;
  --mixin-sKGvJSQ0-I1b_border-top-left-radius: 3px;
  --mixin-sKGvJSQ0-I1b_border-top-right-radius: 3px;
  --mixin-sKGvJSQ0-I1b_font-family: "Inconsolata";
  --mixin-sKGvJSQ0-I1b_padding-bottom: 3px;
  --mixin-sKGvJSQ0-I1b_padding-left: 6px;
  --mixin-sKGvJSQ0-I1b_padding-right: 6px;
  --mixin-sKGvJSQ0-I1b_padding-top: 3px;
  --mixin-sKGvJSQ0-I1b_white-space: pre-wrap;
  --mixin-6yUqXAKlM9nF_display: flex;
  --mixin-6yUqXAKlM9nF_flex-direction: column;
  --mixin-6yUqXAKlM9nF_align-items: stretch;
  --mixin-6yUqXAKlM9nF_justify-content: flex-start;
  --mixin-6yUqXAKlM9nF_list-style-position: outside;
  --mixin-6yUqXAKlM9nF_padding-left: 40px;
  --mixin-6yUqXAKlM9nF_position: relative;
  --mixin-6yUqXAKlM9nF_list-style-type: disc;
  --mixin-6yUqXAKlM9nF_white-space: pre-wrap;
  --mixin-1uC43mtpwtAh_display: flex;
  --mixin-1uC43mtpwtAh_flex-direction: column;
  --mixin-1uC43mtpwtAh_align-items: stretch;
  --mixin-1uC43mtpwtAh_justify-content: flex-start;
  --mixin-1uC43mtpwtAh_list-style-position: outside;
  --mixin-1uC43mtpwtAh_padding-left: 40px;
  --mixin-1uC43mtpwtAh_position: relative;
  --mixin-1uC43mtpwtAh_list-style-type: decimal;
  --mixin-1uC43mtpwtAh_white-space: pre-wrap;
  --mixin-y0OukGccTjY4_color: #000000;
  --mixin-y0OukGccTjY4_font-size: 20px;
  --mixin-y0OukGccTjY4_font-weight: 600;
  --mixin-y0OukGccTjY4_line-height: 1.5;
  --mixin-y0OukGccTjY4_white-space: pre-wrap;
  --mixin-afxxdRkETtNI_color: #000000;
  --mixin-afxxdRkETtNI_font-size: 16px;
  --mixin-afxxdRkETtNI_font-weight: 600;
  --mixin-afxxdRkETtNI_line-height: 1.5;
  --mixin-afxxdRkETtNI_white-space: pre-wrap;
  --mixin-G_6iYSJM3oyK_color: #3291ff;
  --mixin-G_6iYSJM3oyK_white-space: pre-wrap;
  --mixin-xx-Q2yUns8Qc_white-space: pre-wrap;
  --mixin-9byFK0NAsoT1_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-82jTJIdu5CZC_font-family);
  font-size: var(--mixin-82jTJIdu5CZC_font-size);
  font-weight: var(--mixin-82jTJIdu5CZC_font-weight);
  font-style: var(--mixin-82jTJIdu5CZC_font-style);
  color: var(--mixin-82jTJIdu5CZC_color);
  text-align: var(--mixin-82jTJIdu5CZC_text-align);
  text-transform: var(--mixin-82jTJIdu5CZC_text-transform);
  line-height: var(--mixin-82jTJIdu5CZC_line-height);
  letter-spacing: var(--mixin-82jTJIdu5CZC_letter-spacing);
  white-space: var(--mixin-82jTJIdu5CZC_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-pSi-2lGxskk9_color);
  font-weight: var(--mixin-pSi-2lGxskk9_font-weight);
  font-size: var(--mixin-pSi-2lGxskk9_font-size);
  line-height: var(--mixin-pSi-2lGxskk9_line-height);
  letter-spacing: var(--mixin-pSi-2lGxskk9_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-fP8rl1GOT7El_color);
  font-size: var(--mixin-fP8rl1GOT7El_font-size);
  font-weight: var(--mixin-fP8rl1GOT7El_font-weight);
  letter-spacing: var(--mixin-fP8rl1GOT7El_letter-spacing);
  line-height: var(--mixin-fP8rl1GOT7El_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-lAms1sv8LWHN_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Hi9jcB8Uu1Oq_color);
  font-size: var(--mixin-Hi9jcB8Uu1Oq_font-size);
  font-weight: var(--mixin-Hi9jcB8Uu1Oq_font-weight);
  line-height: var(--mixin-Hi9jcB8Uu1Oq_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-1fXKV5bNKSw7_color);
  font-size: var(--mixin-1fXKV5bNKSw7_font-size);
  font-weight: var(--mixin-1fXKV5bNKSw7_font-weight);
  line-height: var(--mixin-1fXKV5bNKSw7_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-jkkRoxF3ZzPB_font-family);
  border-radius: var(--mixin-jkkRoxF3ZzPB_border-top-left-radius)
    var(--mixin-jkkRoxF3ZzPB_border-top-right-radius)
    var(--mixin-jkkRoxF3ZzPB_border-bottom-right-radius)
    var(--mixin-jkkRoxF3ZzPB_border-bottom-left-radius);
  padding: var(--mixin-jkkRoxF3ZzPB_padding-top)
    var(--mixin-jkkRoxF3ZzPB_padding-right)
    var(--mixin-jkkRoxF3ZzPB_padding-bottom)
    var(--mixin-jkkRoxF3ZzPB_padding-left);
  border-top: var(--mixin-jkkRoxF3ZzPB_border-top-width)
    var(--mixin-jkkRoxF3ZzPB_border-top-style)
    var(--mixin-jkkRoxF3ZzPB_border-top-color);
  border-right: var(--mixin-jkkRoxF3ZzPB_border-right-width)
    var(--mixin-jkkRoxF3ZzPB_border-right-style)
    var(--mixin-jkkRoxF3ZzPB_border-right-color);
  border-bottom: var(--mixin-jkkRoxF3ZzPB_border-bottom-width)
    var(--mixin-jkkRoxF3ZzPB_border-bottom-style)
    var(--mixin-jkkRoxF3ZzPB_border-bottom-color);
  border-left: var(--mixin-jkkRoxF3ZzPB_border-left-width)
    var(--mixin-jkkRoxF3ZzPB_border-left-style)
    var(--mixin-jkkRoxF3ZzPB_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-1ONk5j5uh4As_color);
  padding-left: var(--mixin-1ONk5j5uh4As_padding-left);
  border-left: var(--mixin-1ONk5j5uh4As_border-left-width)
    var(--mixin-1ONk5j5uh4As_border-left-style)
    var(--mixin-1ONk5j5uh4As_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-sKGvJSQ0-I1b_font-family);
  border-radius: var(--mixin-sKGvJSQ0-I1b_border-top-left-radius)
    var(--mixin-sKGvJSQ0-I1b_border-top-right-radius)
    var(--mixin-sKGvJSQ0-I1b_border-bottom-right-radius)
    var(--mixin-sKGvJSQ0-I1b_border-bottom-left-radius);
  padding: var(--mixin-sKGvJSQ0-I1b_padding-top)
    var(--mixin-sKGvJSQ0-I1b_padding-right)
    var(--mixin-sKGvJSQ0-I1b_padding-bottom)
    var(--mixin-sKGvJSQ0-I1b_padding-left);
  border-top: var(--mixin-sKGvJSQ0-I1b_border-top-width)
    var(--mixin-sKGvJSQ0-I1b_border-top-style)
    var(--mixin-sKGvJSQ0-I1b_border-top-color);
  border-right: var(--mixin-sKGvJSQ0-I1b_border-right-width)
    var(--mixin-sKGvJSQ0-I1b_border-right-style)
    var(--mixin-sKGvJSQ0-I1b_border-right-color);
  border-bottom: var(--mixin-sKGvJSQ0-I1b_border-bottom-width)
    var(--mixin-sKGvJSQ0-I1b_border-bottom-style)
    var(--mixin-sKGvJSQ0-I1b_border-bottom-color);
  border-left: var(--mixin-sKGvJSQ0-I1b_border-left-width)
    var(--mixin-sKGvJSQ0-I1b_border-left-style)
    var(--mixin-sKGvJSQ0-I1b_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-6yUqXAKlM9nF_display);
  flex-direction: var(--mixin-6yUqXAKlM9nF_flex-direction);
  align-items: var(--mixin-6yUqXAKlM9nF_align-items);
  justify-content: var(--mixin-6yUqXAKlM9nF_justify-content);
  list-style-position: var(--mixin-6yUqXAKlM9nF_list-style-position);
  padding-left: var(--mixin-6yUqXAKlM9nF_padding-left);
  position: var(--mixin-6yUqXAKlM9nF_position);
  list-style-type: var(--mixin-6yUqXAKlM9nF_list-style-type);
  flex-column-gap: var(--mixin-6yUqXAKlM9nF_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-1uC43mtpwtAh_display);
  flex-direction: var(--mixin-1uC43mtpwtAh_flex-direction);
  align-items: var(--mixin-1uC43mtpwtAh_align-items);
  justify-content: var(--mixin-1uC43mtpwtAh_justify-content);
  list-style-position: var(--mixin-1uC43mtpwtAh_list-style-position);
  padding-left: var(--mixin-1uC43mtpwtAh_padding-left);
  position: var(--mixin-1uC43mtpwtAh_position);
  list-style-type: var(--mixin-1uC43mtpwtAh_list-style-type);
  flex-column-gap: var(--mixin-1uC43mtpwtAh_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-y0OukGccTjY4_color);
  font-size: var(--mixin-y0OukGccTjY4_font-size);
  font-weight: var(--mixin-y0OukGccTjY4_font-weight);
  line-height: var(--mixin-y0OukGccTjY4_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-afxxdRkETtNI_color);
  font-size: var(--mixin-afxxdRkETtNI_font-size);
  font-weight: var(--mixin-afxxdRkETtNI_font-weight);
  line-height: var(--mixin-afxxdRkETtNI_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-G_6iYSJM3oyK_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
